apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- servicemonitor.yaml
- telemetry-policy.yaml
- istio-telemetry.yaml

labels:
- pairs:
    app.kubernetes.io/part-of: maas-observability
